<%= turbo_frame_tag 'total_balance' do %>
  <%= render_card(title: account.name, class: 'bg-blue-500 text-white') do %>
    <div class="text-2xl font-bold px-6 pb-6">
      <%= to_money_format account.balance %>
    </div>
  <% end %>
<% end %>