<div
  aria-valuemax="100"
  aria-valuemin="0"
  role="progressbar"
  data-state="indeterminate"
  data-max="100"
  class="relative h-4 overflow-hidden rounded-full bg-gray-200 w-[100%]">

  <div
    data-state="indeterminate"
    data-max="100"
    class="h-full w-full flex-1"
    style="transform: translateX(-<%= value %>%); background-color: <%= color %>"></div>
</div>
