<%= f.input :name %>
<%= f.input :amount %>

<div class="mb-6 gap-4 flex justify-center border border-gray-200 p-5">
  <%= f.collection_radio_buttons :budget_type, [['personal', 'Personal'], ['shared', 'Compartido']], :first, :last %>
</div>