<%= f.input :name, required: true %>

<%= f.input :package, collection: StoreItem::PACKAGES, required: true, prompt: 'Seleccione una opción' %>

<div class="flex justify-start gap-3 items-center">
  <%= f.input :barcode, as: :integer %>

  <a href="#" data-action="click->barcode-scanner#start" class="flex">
    <%= lucide_icon 'scan-barcode', class: 'w-6 h-6 text-gray-500' %>
  </a>
</div>


