<%= turbo_frame_tag params[:turbo_frame] do %>
  <div class="mb-5 flex flex-col space-y-1.5 text-start sm:text-left">
    <h2 class="text-lg font-semibold leading-none tracking-tight">Buscar o crear producto</h2>
  </div>

  <div class="w-full" data-controller="barcode-scanner">
    <div id="reader" data-barcode-scanner-target="scanner" data-input="<%= params[:input_id] %>" data-submit="<%= params[:submit] %>" class="viewport"></div>
    <p data-barcode-scanner-target="output" class="text-center w-full mt-2"></p>
  </div>
<% end %>