/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 *= require three
 */

:root {
  --ss-main-height: 44px;
  --ss-bg-color: #f3f4f6;
  --ss-primary-color: #0b1222;
}

.collection_radio_buttons {
  margin-left: 7px;
  font-size: .875rem;
}

.overlay-bg {
  background-color: #242424bd;
}

/* ACCOUNTS STYLES */

.accounts-card--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  overflow: hidden;
  overflow-x: auto;
  padding-bottom: 1rem;
  gap: 1rem;
  width: 100;
}

.turbo-progress-bar {
  height: 5px;
  background-color: green;
}