<div class="shadow-sm mb-5">
  <div class="flex flex-col space-y-1.5 p-6">
    <h3 class="font-semibold tracking-tight text-lg">Filtros</h3>
  </div>

  <div class="p-6 pt-0">
    <div class="flex gap-2">
      <div class="relative">
        <%= lucide_icon 'search', class: 'absolute left-3 top-3 h-4 w-4 text-gray-400' %>
        <input class="flex h-10 w-full rounded-md border border-gray-500 bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-10" placeholder="Buscar movimientos..." value="">
      </div>
    </div>
  </div>
</div>